@model ContactUsViewModel

<link href="~/css/contactstyle.css" rel="stylesheet" type="text/css" />
<section class="mbr-section form1 cid-qyvf9K0GGo" id="form1-4" data-rv-view="791">
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">
                    Зв'яжіться з нами
                </h2>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-8" data-form-type="formoid">
                <div data-form-alert="" hidden="">
                    Дякую за заповнення форми!
                </div>

                <form class="mbr-form" asp-controller="Contact" asp-action="ContactResult" method="post">
                    <input type="hidden" data-form-email="true" value="R46ImfT8lRYLhZq6vpVE63L0V35bOdmwHjgn18Tp/HdDujD3JfWe/8bm7YjE2vjZZ7JFQMRNRIinYQUh3aNa2qi1GshxArFhHAffNuiFsZiNLfMCF8KElmS7V7lbqBIL">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="row row-sm-offset">
                        <div class="col-md-4 multi-horizontal">
                            <div class="form-group">
                                <label asp-for="name" class="form-control-label mbr-fonts-style display-7" for="name-form1-4">Ім'я</label>
                                <div>
                                    <span asp-validation-for="name"></span>
                                </div>
                                <input type="text" class="form-control" name="name" asp-for="name" id="name-form1-4">
                            </div>
                        </div>
                        <div class="col-md-4 multi-horizontal">
                            <div class="form-group">
                                <label asp-for="email" class="form-control-label mbr-fonts-style display-7" for="email-form1-4">Email</label>
                                <div>
                                    <span asp-validation-for="email"></span>
                                </div>
                                <input asp-for="email" type="email" class="form-control" name="email" id="email-form1-4">
                            </div>
                        </div>
                        <div class="col-md-4 multi-horizontal">
                            <div class="form-group">
                                <label asp-for="phone" class="form-control-label mbr-fonts-style display-7" for="phone-form1-4">Номер телефону</label>
                                <div>
                                    <span asp-validation-for="phone"></span>
                                </div>
                                <input asp-for="email" type="tel" class="form-control" name="phone" data-form-field="Phone" id="phone-form1-4">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="message" class="form-control-label mbr-fonts-style display-7" for="message-form1-4">Повідомлення</label>
                        <div>
                            <span asp-validation-for="message"></span>
                        </div>
                        <textarea asp-for="message" type="text" class="form-control" name="message" rows="7" data-form-field="Message" id="message-form1-4"></textarea>
                    </div>
                    <input type="submit" value="Надіслати" class="btn btn-form btn-black-outline display-4">
                </form>
            </div>
        </div>
    </div>
</section>