@model OperationResultViewModel

<link href="~/css/stylelist.css" rel="stylesheet" type="text/css" />
<div class="grid-container-content">
    <p class="text-style-2 color-header-list">@Model.textresult</p>
</div>
