@model JobSite.ViewModels.ResetPasswordViewModel
<link href="~/css/passwordpage.css" rel="stylesheet" type="text/css" />
<div class="content grid-item-validation">
    <form method="post" asp-action="ConfirmResetPassword" asp-controller="Account">
        @{
            <h2 class="header-log">Зміна пароля для користувача @Model.Email</h2>
        }
        @*<div asp-validation-summary="All" class="text-danger"></div>*@
        <input type="hidden" asp-for="Code" />
        <input type="hidden" asp-for="Email" />
        <div>
            <label asp-for="Password">Новий пароль</label><br />
            <div>
                <span asp-validation-for="Password"></span>
            </div>
            <input asp-for="Password" />
        </div>
        <div>
            <label asp-for="ConfirmPassword">Підтвердження пароля</label><br />
            <div>
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <input asp-for="ConfirmPassword" />
        </div>
        <div class="form-group">
            <p>     </p>
        </div>
        <div>
            <input type="submit" value="Зберегти" class="btn btn-default" />
        </div>
    </form>
</div>
