@model BuildingMaterialViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="report" charset="utf-8" />
    <title>Будівельна матеріали</title>
    <link href="~/css/stylelist.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="content">
        <div id="panel">
            <div id="hidden_panel">
            </div>
        </div>
    </div>
    <div class="grid-container-content">
        @*<h1 class="text-style-1 header color-header-list">Будівельні матеріали</h1>*@
        @{
            foreach (var buildingMaterial in Model.AllBuildingMaterials)
            {
                @Html.Partial("AllBuildingMaterials", buildingMaterial);
            }
        }
    </div>
</body>
</html>
