    <link href="~/css/aboutus.css" rel="stylesheet" type="text/css" />
<div class="about-section">
  <h1>Інформація про нас</h1>
  <p>Ми працюємо на ринку з 2003 року, пропонуємо вам продаж, доставку бетонів та розчинів різних марок у межах Рівненської області.</p>
  <h4 style="margin-bottom: 1rem">Підприємницька діяльність здійcнюється згідно з кведами:</h4>
  <p>1) _23.63 (Виробництво бетонних розчинiв, готових для використання);</p>
  <p>2) _23.64 (Виробництво сухих будiвельних сумiшей).</p>
</div>